*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

/*** Header ***/
header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3.75em; /* 60px */
}

.logo-div {
    margin: 0 0 0 1.375em;
    padding: 0;
    display: flex;
    color: #0E0E0E;
    align-items: center;
    font-size: 0.875rem; /* 14px */
    gap: 0.3125em;   /* 5px */
}

.logo {
    width: 1.5em;
    height: 1.5em;
}

nav {
    margin: 0 1.375em 0 0;
    padding: 0;
    display: flex;
    gap: 2em;
    font-size: 0.75rem; /* 12px */
}
/**************/

/*** Hero ***/
.hero{
    margin: 0;
    padding: 5.45em 1.25em 1.56em;
    background-image: url("./images/feature-article.png");
    background-size: cover;
    background-position: center bottom; 
    background-repeat: no-repeat;
    height: 18.3em; /* 293px */
    object-fit: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero .date {
    margin: 0;
    padding: 0;
    font-size: 0.7rem; /* 12 px */
}

.hero .title {
    margin: 0;
    padding: 0;
    font-size: 2rem; /* 32 px */
}

.hero .description {
    margin: 0;
    padding: 0;
    font-size: 1rem; /* 16 px */
}
/************/

/**** Articles ****/
.articles {
    margin: 2em 1.25em 1.6875em 1.25em;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2.55em; /* 41px */
}
.article img {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 23.4375em; /* 375px */
    height: 14.5em;   /* 232px */
    object-fit: cover;
}
.article .text {
    margin: 0.875em auto 0;
    width: 23.4375em; /* 375px */
}
.article .date{
    margin: 0;
    padding: 0;
    font-size: 0.875em; /* 14px */
}
.article .title{
    margin: 0.5625em 0 0 0;
    padding: 0;
    font-size: 1.5em; /* 24px */
}
.article .description{
    margin: 0.5625em 0 0 0;
    padding: 0;
    font-size: 1em; /* 16px */
}
/******************/

.view-more {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

/**** Footer ****/
footer {
    margin: 2.69em 0 0 0;
    padding: 2.375em 0;
    background-color: #202020;
    text-align: center;
    font-size: 0.75rem; /* 12px */
}
footer .title {
    margin: 0;
    padding: 0;
    color: #ECECEC;
    font-weight: 700;
}
footer .subtitle {
    margin: 0.19em 0 0 0;
    padding: 0;
    color: #D7D7D7;
}
/******************/

/*** Links ****/
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #090909;
}
/**************/

/*** Media queries ***/
@media(min-width: 768px) {
    .logo-div {
        font-size: 1.25rem; /* 20px */
    }
    
    nav {
        font-size: 1rem; /* 16px */
    }
    
    .hero {
        height: 30.5em; /* 488px */
    }
    
    .hero .date {
        font-size: 1rem; /* 16 px */
    }

    .hero .title {
        font-size: 2.5rem; /* 40 px */
    }
    .articles {
        margin: 2em 2.5em 1.6875em 2.5em;
    }
    .article img {
        width: 19.3125em; /* 309 px */
    }
    .article .text {
        width: 19.3125em; /* 309 px */
    }
}

/*********************/
